body {
    font-family: Arial, Helvetica, sans-serif;
    background:#f5f5f5;
    color: #333;
    line-height: 1.6;
}
#tarolo {

    background-color:white;
    color: black;
    width: 80%;
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 10px;
}

#fejlec{
    text-align: center;
    margin-bottom: 20px;
}

#fejlec h1 {
    color: #222;
}
#menu a{

    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: #005bb5;
    border: 2px solid rgb(25, 25, 163);
    padding:5px 10px 5px 10px;
    margin: 10px;
    border-radius: 5px;
    font-weight: bold;
}

#menu a:hover{
    color: gold;
    background-color: orangered;
}
#tartalom h2 {
    margin-top: 20px;
    color:#005bb5;
}
#tartalom p {
    margin: 10px;
    line-height: 1.6;
}
#tartalom li {
    margin-bottom: 5px;
}

#lablec {
    margin-top: 30px;
    text-align: center;
    padding: 15px;
    background:#eee;
    border-radius: 8px;
    color: #666;

}