body {
    background-color: bisque;
}
#tarolo {
    background-color: brown;
    color: antiquewhite;
    width: 80%;
    max-width: 800px;
    margin: auto;
    padding: 10px;
}

#menu a{
    text-decoration: none;
    color: greenyellow;
    background-color: green;
    border: 2px;
    margin: 10px;
    border-radius: 5px;
}